@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@layer components {
  .input {
    @apply
      w-full
      h-12
      rounded-lg
      border
      border-gray-200
      bg-white
      px-4
      text-sm
      outline-none
      focus:border-green-500
      focus:ring-2
      focus:ring-green-100;
  }
}